<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        <link rel="stylesheet" href="https://bootswatch.com/5/flatly/bootstrap.min.css">
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('like') }}
    {% endblock %}
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('index') }}">Accueil</a>
        <div class="d-flex align-items-center">
            {% if app.user %}
                <a href="{{ path('logout') }}" class="btn btn-primary">Déconnexion</a>
            {% else %}
                <a href="{{ path('register') }} " class="btn btn-secondary">Inscription</a>
                <a href="{{ path('login') }}" class="btn btn-primary">Connexion</a>
            {% endif %}
        </div>
    </div>
</nav>
<div class="container">
    {% block body %}{% endblock %}
</div>

</body>

</html>
